.header1 {
  transition: 0.1s;
}

.header2:hover {
  opacity: 0.9;
  transition: opacity 0.3s ease;
  font-weight: 600;
  color: white;
}

.header3::after {
  content: "";
  width: 0;
  height: 2px;
  background: yellow;
  display: block;
  transition: 0.2s linear;
}

.header4:hover::after {
  width: 100%;
}
